#backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(5px);
    z-index: 1;
}
#overlayVideo {
    z-index: 9;
    position: absolute;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 25px double black;
}

.top-left, .bottom-right, .center {
    background-color: rgb(21, 21, 21);
    color: white;
    padding: 10px 15px;
    font-size: 3em;
    position: absolute;
    transition: all 1s;
    cursor: default;
    z-index: 2;
}
.top-left {
    top: 5%;
    left: 10%;
}
.bottom-right {
    bottom: 5%;
    right: 10%;
}
.center {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.focused {
    /* background-color: blue; */
    color: white;
    font-size: 10em;
    font-family: "Oswald", sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -55%);
    transition: all 1s;
    cursor: pointer;
    z-index: 10;
}

.hidden {
    display: none;
}
.showing {
    display: block;
}